.currencyConverter__title {
    color: #0e142bf3;
    font-size: 34px;
    font-weight: bold;
}



.currencyConverter__field {
    background-color: #1873c0;
    border: 3px solid #000000;
    border-radius: 10px;
    width: 100%;
    max-width: 950px;
}

.currencyConverter__legend {
    border: 2px solid #df0c0c;
    padding: 5px;
    border-radius: 10px;
    background-color: #5f9ea0;
}

.currencyConverter__data {
    font-size: 23px;
    margin-right: 5px;
    width: 100%;
    max-width: 400px;
    display: inline-block;
}

.currencyConverter__input {
    width: 100%;
    max-width: 400px;
    padding: 16px;
    border: 2px solid #463f3f;
    text-align: center;
}

.currencyConverter__button {
    width: 100%;
    padding: 10px;
    font-size: 30px;
    background-color: #bfddf7a1;
}

.currencyConverter__button:hover {
    width: 100%;
    padding: 10px;
    font-size: 30px;
    background-color: #bfddf76e;
}

.currencyConverter__strong {
    font-size: 24px;
    font-weight: bold;
}

.currencyConverter__paragraph {
    color: #640505c9;
    font-size: 20px;
}
.currencyConverter__rate{

    color:#fcfeff;
}