html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-image:url(https://i.postimg.cc/8z4DYzW4/giorgio-trovato-Wyxq-Qpy-FNk8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "lato",sans-serif;
    background-color: #f7fafca8;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}